.Applink {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}
